<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.jingever.guanji</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>guanji</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要麦克风权限来进行语音对话</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>需要语音识别权限来理解您说的话</string>
</dict>
</plist>
